# DataFrame :
``` A DataFrame is a table of columns and rows in pandas that we can easily restructure and filter ```

## Formal Defination :
    A group of Pandas Series objects that share the same index

In [76]:
import numpy as np 
import pandas as pd

In [77]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))
print(mydata)

[[95 11 81]
 [70 63 87]
 [75  9 77]
 [40  4 63]]

In [78]:
myindex = ['CA','NY','AZ','TX']

In [79]:
mycolumns = ['Jan','Feb','Mar']

In [80]:
df = pd.DataFrame(data=mydata)
print(df)
print("---------------------")
df = pd.DataFrame(data=mydata,index=myindex)
print(df)
print("---------------------")
df = pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)
print(df)
print("---------------------")

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63
---------------------
     0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63
---------------------
    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63
---------------------

In [112]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,213140353657882
...,...,...,...,...,...,...,...,...,...,...
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230

In [81]:
type(df)

pandas.core.frame.DataFrame

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

# Read from CSV

# Where is my Python code located
-  pwd

In [83]:
pwd

'/Applications/My_Laborarory/Experiment/myenv/source/pandas'

In [84]:
ls data/

RetailSales_BeerWineLiquor.csv  new_file.csv
Sales_Funnel_CRM.csv            new_workbook.xlsx
example.csv                     newfile.csv
example.xlsx                    reshaping_pivot.png
hotel_booking_data.csv          sample_table.html
movie_scores.csv                simple.html
mpg.csv                         tips.csv
my_excel_file.xlsx

In [113]:
df = pd.read_csv('data/tips.csv')
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [86]:
print(df.columns)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

In [87]:
print(df.index)

RangeIndex(start=0, stop=244, step=1)

In [88]:
print(df.head())

print(df.head(5))

   total_bill   tip     sex smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name         CC Number Payment ID
0  Christy Cunningham  3560325168603410    Sun2959
1      Douglas Tucker  4478071379779230    Sun4608
2      Travis Walters  6011812112971322    Sun4458
3    Nathaniel Harris  4676137647685994    Sun5260
4        Tonya Carter  4832732618637221    Sun2251
   total_bill   tip     sex smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name         CC Number Payment ID
0  Christy Cunningham  3560325168603410    Sun2959
1      Douglas Tucker  4478071379779230    Sun4608
2      Travis Walters  6011812112971322    Sun4458
3    Nathaniel Harris  4676137647685994    Sun5260
4        Tonya Carter  4832732618637221    Sun2251

In [89]:
print(df.tail())

     total_bill   tip     sex smoker   day    time  size  price_per_person  \
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

          Payer Name         CC Number Payment ID
239    Michael Avila  5296068606052842    Sat2657
240   Monica Sanders  3506806155565404    Sat1766
241       Keith Wong  6011891618747196    Sat3880
242     Dennis Dixon     4375220550950      Sat17
243  Michelle Hardin  3511451626698139    Thur672

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    int64
 10  Payment ID        244 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 21.1+ KB

# Part 3 : DataFrame
Columns

In [91]:
print(df.describe())

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563496e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040731e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525318e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596454e+15

In [92]:
print(df.describe().transpose())

                  count          mean           std           min  \
total_bill        244.0  1.978594e+01  8.902412e+00  3.070000e+00
tip               244.0  2.998279e+00  1.383638e+00  1.000000e+00
size              244.0  2.569672e+00  9.510998e-01  1.000000e+00
price_per_person  244.0  7.888197e+00  2.914234e+00  2.880000e+00
CC Number         244.0  2.563496e+15  2.369340e+15  6.040679e+10

                           25%           50%           75%           max
total_bill        1.334750e+01  1.779500e+01  2.412750e+01  5.081000e+01
tip               2.000000e+00  2.900000e+00  3.562500e+00  1.000000e+01
size              2.000000e+00  2.000000e+00  3.000000e+00  6.000000e+00
price_per_person  5.800000e+00  7.255000e+00  9.390000e+00  2.027000e+01
CC Number         3.040731e+13  3.525318e+15  4.553675e+15  6.596454e+15

In [93]:
print(df['total_bill'])
print(type(df['total_bill']))

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64
<class 'pandas.core.series.Series'>

In [94]:
my_cols = ['total_bill','tip']
print(df[my_cols])
print("-----------")

print(df[['total_bill','tip']])

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]
-----------
     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [95]:
# Create a New column

df['tip_percentage'] = 100 * df['tip'] / df['total_bill']
print(df)

     total_bill   tip     sex smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name         CC Number Payment ID  tip_percentage
0    Christy Cunningham  3560325168603410    Sun2959        5.944673
1        Douglas Tucker  4478071379779230    Sun4608       16.054159
2        Travis Walters  6011812112971322    Sun4458       16.658734
3      Nathaniel Harris  4676137647685994    Sun5260       13.978041
4          Tonya Carter  4832732618637221    Sun2251       14.680765
..                  ...               ...        ...             ...
239       Michael Avila  5296068606052842    Sat2657       20.392697
240      Monica Sanders  3506806155565404    Sat1766        7.358352
241          Keith Wong  6011891618747196    Sat3880        8.822232
242        Dennis Dixon     4375220550950      Sat17        9.820426
243     Michelle Hardin  3511451626698139    Thur672       15.974441

[244 rows x 12 columns]

In [96]:
df['price_per_person'] = df['total_bill'] / df['size']
print(df)

     total_bill   tip     sex smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2          8.495000
1         10.34  1.66    Male     No   Sun  Dinner     3          3.446667
2         21.01  3.50    Male     No   Sun  Dinner     3          7.003333
3         23.68  3.31    Male     No   Sun  Dinner     2         11.840000
4         24.59  3.61  Female     No   Sun  Dinner     4          6.147500
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3          9.676667
240       27.18  2.00  Female    Yes   Sat  Dinner     2         13.590000
241       22.67  2.00    Male    Yes   Sat  Dinner     2         11.335000
242       17.82  1.75    Male     No   Sat  Dinner     2          8.910000
243       18.78  3.00  Female     No  Thur  Dinner     2          9.390000

             Payer Name         CC Number Payment ID  tip_percentage
0    Christy Cunningham  3560325168603410    Sun2959        5.944673
1        Douglas Tucker  4478071379779230    Sun4608       16.054159
2        Travis Walters  6011812112971322    Sun4458       16.658734
3      Nathaniel Harris  4676137647685994    Sun5260       13.978041
4          Tonya Carter  4832732618637221    Sun2251       14.680765
..                  ...               ...        ...             ...
239       Michael Avila  5296068606052842    Sat2657       20.392697
240      Monica Sanders  3506806155565404    Sat1766        7.358352
241          Keith Wong  6011891618747196    Sat3880        8.822232
242        Dennis Dixon     4375220550950      Sat17        9.820426
243     Michelle Hardin  3511451626698139    Thur672       15.974441

[244 rows x 12 columns]

In [97]:
df['price_per_person'] = np.round(df['total_bill'] / df['size'],2)
print(df.head())

   total_bill   tip     sex smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name         CC Number Payment ID  tip_percentage
0  Christy Cunningham  3560325168603410    Sun2959        5.944673
1      Douglas Tucker  4478071379779230    Sun4608       16.054159
2      Travis Walters  6011812112971322    Sun4458       16.658734
3    Nathaniel Harris  4676137647685994    Sun5260       13.978041
4        Tonya Carter  4832732618637221    Sun2251       14.680765

In [98]:
# removing columns 

df = df.drop('tip_percentage',axis=1)
print(df.head())

   total_bill   tip     sex smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name         CC Number Payment ID
0  Christy Cunningham  3560325168603410    Sun2959
1      Douglas Tucker  4478071379779230    Sun4608
2      Travis Walters  6011812112971322    Sun4458
3    Nathaniel Harris  4676137647685994    Sun5260
4        Tonya Carter  4832732618637221    Sun2251

In [99]:
print(df.shape)

(244, 11)

# Part 4 : DataFrame

In [100]:
print(df.index)

RangeIndex(start=0, stop=244, step=1)

In [101]:
# set PaymentId as index

df = df.set_index("Payment ID")
print(df)

            total_bill   tip     sex smoker   day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No   Sun  Dinner     2
Sun4608          10.34  1.66    Male     No   Sun  Dinner     3
Sun4458          21.01  3.50    Male     No   Sun  Dinner     3
Sun5260          23.68  3.31    Male     No   Sun  Dinner     2
Sun2251          24.59  3.61  Female     No   Sun  Dinner     4
...                ...   ...     ...    ...   ...     ...   ...
Sat2657          29.03  5.92    Male     No   Sat  Dinner     3
Sat1766          27.18  2.00  Female    Yes   Sat  Dinner     2
Sat3880          22.67  2.00    Male    Yes   Sat  Dinner     2
Sat17            17.82  1.75    Male     No   Sat  Dinner     2
Thur672          18.78  3.00  Female     No  Thur  Dinner     2

            price_per_person          Payer Name         CC Number
Payment ID
Sun2959                 8.49  Christy Cunningham  3560325168603410
Sun4608                 3.45      Douglas Tucker  4478071379779230
Sun4458                 7.00      Travis Walters  6011812112971322
Sun5260                11.84    Nathaniel Harris  4676137647685994
Sun2251                 6.15        Tonya Carter  4832732618637221
...                      ...                 ...               ...
Sat2657                 9.68       Michael Avila  5296068606052842
Sat1766                13.59      Monica Sanders  3506806155565404
Sat3880                11.34          Keith Wong  6011891618747196
Sat17                   8.91        Dennis Dixon     4375220550950
Thur672                 9.39     Michelle Hardin  3511451626698139

[244 rows x 10 columns]

In [102]:
# We want to reset the index 

df = df.reset_index()
print(df.head())

  Payment ID  total_bill   tip     sex smoker  day    time  size  \
0    Sun2959       16.99  1.01  Female     No  Sun  Dinner     2
1    Sun4608       10.34  1.66    Male     No  Sun  Dinner     3
2    Sun4458       21.01  3.50    Male     No  Sun  Dinner     3
3    Sun5260       23.68  3.31    Male     No  Sun  Dinner     2
4    Sun2251       24.59  3.61  Female     No  Sun  Dinner     4

   price_per_person          Payer Name         CC Number
0              8.49  Christy Cunningham  3560325168603410
1              3.45      Douglas Tucker  4478071379779230
2              7.00      Travis Walters  6011812112971322
3             11.84    Nathaniel Harris  4676137647685994
4              6.15        Tonya Carter  4832732618637221

In [103]:
df = df.set_index('Payment ID')
print(df)

            total_bill   tip     sex smoker   day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No   Sun  Dinner     2
Sun4608          10.34  1.66    Male     No   Sun  Dinner     3
Sun4458          21.01  3.50    Male     No   Sun  Dinner     3
Sun5260          23.68  3.31    Male     No   Sun  Dinner     2
Sun2251          24.59  3.61  Female     No   Sun  Dinner     4
...                ...   ...     ...    ...   ...     ...   ...
Sat2657          29.03  5.92    Male     No   Sat  Dinner     3
Sat1766          27.18  2.00  Female    Yes   Sat  Dinner     2
Sat3880          22.67  2.00    Male    Yes   Sat  Dinner     2
Sat17            17.82  1.75    Male     No   Sat  Dinner     2
Thur672          18.78  3.00  Female     No  Thur  Dinner     2

            price_per_person          Payer Name         CC Number
Payment ID
Sun2959                 8.49  Christy Cunningham  3560325168603410
Sun4608                 3.45      Douglas Tucker  4478071379779230
Sun4458                 7.00      Travis Walters  6011812112971322
Sun5260                11.84    Nathaniel Harris  4676137647685994
Sun2251                 6.15        Tonya Carter  4832732618637221
...                      ...                 ...               ...
Sat2657                 9.68       Michael Avila  5296068606052842
Sat1766                13.59      Monica Sanders  3506806155565404
Sat3880                11.34          Keith Wong  6011891618747196
Sat17                   8.91        Dennis Dixon     4375220550950
Thur672                 9.39     Michelle Hardin  3511451626698139

[244 rows x 10 columns]

# iloc  vs loc 
```
iloc - Number based index
loc - level based index
```

In [104]:
# grab single row
print(df.iloc[0])

print("--------------------------------")
# grab multiple rows
print(df.iloc[0:4])

total_bill                       16.99
tip                               1.01
sex                             Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number             3560325168603410
Name: Sun2959, dtype: object
--------------------------------
            total_bill   tip     sex smoker  day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No  Sun  Dinner     2
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2

            price_per_person          Payer Name         CC Number
Payment ID
Sun2959                 8.49  Christy Cunningham  3560325168603410
Sun4608                 3.45      Douglas Tucker  4478071379779230
Sun4458                 7.00      Travis Walters  6011812112971322
Sun5260                11.84    Nathaniel Harris  4676137647685994

In [105]:
print(df.loc['Sun2959'])

print("---------------------------------")

print(df.loc[['Sun2959','Sun5260']])

total_bill                       16.99
tip                               1.01
sex                             Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number             3560325168603410
Name: Sun2959, dtype: object
---------------------------------
            total_bill   tip     sex smoker  day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No  Sun  Dinner     2
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2

            price_per_person          Payer Name         CC Number
Payment ID
Sun2959                 8.49  Christy Cunningham  3560325168603410
Sun5260                11.84    Nathaniel Harris  4676137647685994

In [106]:
# Remove rows 

df = df.drop('Sun2959',axis=0)
print(df.head())

            total_bill   tip     sex smoker  day    time  size  \
Payment ID
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4
Sun9679          25.29  4.71    Male     No  Sun  Dinner     4

            price_per_person        Payer Name         CC Number
Payment ID
Sun4608                 3.45    Douglas Tucker  4478071379779230
Sun4458                 7.00    Travis Walters  6011812112971322
Sun5260                11.84  Nathaniel Harris  4676137647685994
Sun2251                 6.15      Tonya Carter  4832732618637221
Sun9679                 6.32        Erik Smith   213140353657882

In [107]:
# inserting a new row 
one_row = df.iloc[0]

In [108]:
print(one_row)

total_bill                     10.34
tip                             1.66
sex                             Male
smoker                            No
day                              Sun
time                          Dinner
size                               3
price_per_person                3.45
Payer Name            Douglas Tucker
CC Number           4478071379779230
Name: Sun4608, dtype: object

In [109]:
df = df._append(one_row)
print(df.head())
print(df.tail())

            total_bill   tip     sex smoker  day    time  size  \
Payment ID
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4
Sun9679          25.29  4.71    Male     No  Sun  Dinner     4

            price_per_person        Payer Name         CC Number
Payment ID
Sun4608                 3.45    Douglas Tucker  4478071379779230
Sun4458                 7.00    Travis Walters  6011812112971322
Sun5260                11.84  Nathaniel Harris  4676137647685994
Sun2251                 6.15      Tonya Carter  4832732618637221
Sun9679                 6.32        Erik Smith   213140353657882
            total_bill   tip     sex smoker   day    time  size  \
Payment ID
Sat1766          27.18  2.00  Female    Yes   Sat  Dinner     2
Sat3880          22.67  2.00    Male    Yes   Sat  Dinner     2
Sat17            17.82  1.75    Male     No   Sat  Dinner     2
Thur672          18.78  3.00  Female     No  Thur  Dinner     2
Sun4608          10.34  1.66    Male     No   Sun  Dinner     3

            price_per_person       Payer Name         CC Number
Payment ID
Sat1766                13.59   Monica Sanders  3506806155565404
Sat3880                11.34       Keith Wong  6011891618747196
Sat17                   8.91     Dennis Dixon     4375220550950
Thur672                 9.39  Michelle Hardin  3511451626698139
Sun4608                 3.45   Douglas Tucker  4478071379779230

In [111]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,213140353657882
...,...,...,...,...,...,...,...,...,...,...
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230