# Read CSV Files

In [2]:
import numpy as np
import pandas as pd

In [3]:
pwd

'/Applications/My_Laborarory/Experiment/myenv/source/pandas'

In [4]:
ls

About                        groupBy.ipynb
Read_data.ipynb              merge_inner.ipynb
Time_methods.ipynb           missing_data_part1.ipynb
combining_dataframes.ipynb   missing_data_part2.ipynb
conditional_filtering.ipynb  series1.ipynb
crosssection.ipynb           text_methods.ipynb
data/                        useful2.ipynb
dataframes_basics.ipynb      useful_methods.ipynb

In [5]:
import os

In [6]:
os.getcwd()

'/Applications/My_Laborarory/Experiment/myenv/source/pandas'

In [12]:
df = pd.read_csv("data/example.csv") # By default pandas will infer Header
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [11]:
#df = pd.read_csv("data/example.csv",header=None) # By default pandas will infer Header
#df

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [13]:
df = pd.read_csv("data/example.csv",index_col=0)
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [17]:
df.to_csv("output/example_out.csv",index=False)

In [18]:
new = pd.read_csv("output/example_out.csv")
new

    b   c   d
0   1   2   3
1   5   6   7
2   9  10  11
3  13  14  15